{
	"ppa": 
		[
			"sudo add-apt-repository ppa:ubuntu-mozilla-daily/ppa"
		]
    "mandatory":
        [
            "git",
            "build-essentials"
			"curl",
            "vim",
			"htop",
			"tlp",
			"thermald",
			"ffmpeg",
			"wine",
			"gnome-disk-utility",
			"gcc",
			"p7zip-full"
			"seahorse"
        ],
    
     "optional":
        [
			"firefox-trunk",
			"gimp",
			"krita",
			"transmission-gtk",
			"ubuntu-restricted-extras",
			"gnome-builder"
        ]
}

